.btnFollowed {
  margin-top: 10px;
  padding: 0 15px 0 15px;
  height: 20px;
  color: #2a6aff;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
}

.userPhoto {
  width: 100px;
  height: 100px;
}

.userText {
  color: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.users {
  column-count: 5;
  flex: 1 0 auto;
}