.btnFollowed {
  margin-top: 10px;
  height: 20px;
}

.userPhoto {
  width: 100px;
  height: 100px;
}

.userText {
  color: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.users {
  column-count: 5;
  flex: 1 0 auto;
}