.item {
  color: greenyellow;
}

.postsBlock h3 {
  color: #ffffff;
}

.posts {
  margin-top: 10px;
}

.postMessage {
  width: 180px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
}

.btnMessage {
  margin-top: 10px;
  padding: 0 15px 0 15px;
  height: 25px;
  color: #2a6aff;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
}

.btnMessage:hover {
  color: #ffffff;
  background-color: #2a6aff;
  border: 1px solid #ffffff;
  cursor: pointer;
}