.formControl.error input,
.formControl.error textarea
{
  border: 3px solid red;
}

.formControl.error span
{
  color: red;
}

.formSummaryError {
  display: inline-block;
  width: 270px;
  padding: 5px;
  color: red;
  border: 1px solid red;
}