.header {
  grid-area: h;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 0 5px 0;
  background-color: #333333;
  border-radius: 10px;
}

.header img {
  width: 35px;
}

.loginBlock {
  color: #000000;
}

.loginName {
  color: #ffffff;
}

.loginBlock a {
  color: #ff0000;
}

.loginBtn {
  margin: 0 0 0 10px;
}