.header {
  grid-area: h;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 0 5px 0;
  background-color: #2a6aff;
  border-radius: 10px;
}

.header img {
  width: 35px;
}

.loginBlock {
  color: #000000;
}

.loginName {
  color: #ffffff;
}

.loginBlock a {
  color: #ff0000;
}

.loginBtn {
  margin: 0 0 0 10px;
  padding: 0 15px 0 15px;
  height: 25px;
  color: #2a6aff;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
}

.loginBtn:hover {
  color: #ffffff;
  background-color: #2a6aff;
  border: 1px solid #ffffff;
  cursor: pointer;
}