.nav {
  grid-area: n;
  padding: 20px;
  margin: 5px 5px 0 0;
  background-color: #2a6aff;
  border-radius: 10px;
}

.item {
  padding-bottom: 10px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: red;
}