.nav {
    grid-area: n;
    padding: 20px;
    background-color: rgb(42, 106, 255);
}

.item {
    padding-bottom: 10px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: red;
}