.item img {
  width: 1000px;
}

.descriptionBlock {
  display: flex;
  padding-top: 10px;
  color: #ffffff;
}

.descriptionBlockUser {
  display: block;
  padding-left: 20px;
}

.aboutMe {
  margin: 0;
}

.userPhoto {
  width: 200px;
  height: 200px;
}

.blockInfo {
  padding: 0;
  list-style-type: none;
}

.statusTittle {
  color: #ffffff;
}

.statusInput {
  width: 197px;
  border: none;
  outline: none;
  border-radius: 5px;
}