body {
  height: 100%;
  margin: 0;
  background-color: #222222;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.app-wrapper-content {
  padding: 20px;
  margin: 5px 0 0 5px;
  height: 800px;
  grid-area: c;
  background-color: #333333;
  border-radius: 10px;
}

button {
  margin: 0 5px 10px 0;
  color: #333333;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  height: 25px;
}

button:hover {
  color: #ffffff;
  background-color: #333333;
  border: 1px solid #ffffff;
  cursor: pointer;
}
